Basic Chatbot(Perplexity).json
{
  "name": "Basic Chatbot(Perplexity)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -512,
        -160
      ],
      "id": "7de6f0de-63af-4736-be67-8bf7860a9650",
      "name": "When chat message received",
      "webhookId": "aa301a20-6207-4b67-bb24-c90660ff353b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant.\n#Tool:\n    - SerpAPI: always use this to fetch real time data before answering any question\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        -160
      ],
      "id": "f44de3b4-07bf-4e87-a1e4-5b044e4e5a03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -384,
        80
      ],
      "id": "2408e707-036b-4328-8625-7cc946b9a849",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1kzPyr3qw2PkXlEa",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        80
      ],
      "id": "d5d382c1-5d87-405a-8de5-78b73efea05f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -96,
        80
      ],
      "id": "f792aebc-0291-45c7-a342-df02534cbf3f",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "Ibsy1fiPOOxyFk4L",
          "name": "SerpAPI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e5e9216a-7b97-4d6d-be1c-2c1c56c0a5f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa21f063961a444bac67da5836ed03268c50574ea6214ede001ff4f72571cbd6"
  },
  "id": "HsXvNObjjq65lrFo",
  "tags": []
}