Messenger Chatbot.json
{
  "name": "Messenger Chatbot",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "testing",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        16
      ],
      "id": "a00ab15d-7110-43f2-8169-22cdd4515b50",
      "name": "Webhook",
      "webhookId": "fbfe6999-d6db-4e5c-97f9-d4f7a3ee6981"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31186334-e024-4002-9370-17e57af762bb",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3350f64d-408d-482d-955e-e9c8bfb85c00",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "testing-token",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        -80
      ],
      "id": "ee643234-5a85-4dd7-9e54-b925d4c33bea",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query.hub_challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        -192
      ],
      "id": "3f2d4f9e-6e0d-4ce0-9c9a-1da80c3c2665",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "You are a helpful Ai assistant for e commerce site.\nIMPORTANT: You must follow these rules for every response:\n- Plain text only\n- No asterisks, no bullet points, no markdown\n- No special characters\n- Maximum 200 words\n- Single paragraph only"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        112
      ],
      "id": "a736b3dc-b5a3-4d5c-865c-093a742962e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        320
      ],
      "id": "cd98d86b-ad1d-445c-aa81-018434d66a0f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8zFovsiRvJEL9nV1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAcG22ERlsABRGiDZBsRzqursG1J49zrhrPBdyNDbW4ZAXEirjXVooy6wetVJdC7itN8vNDVVmrPoAoBivCR5rZAfLZB4TgNPTWLx0TdkIbGySWOFZA1SMI0b6AUNeKGvEVjFwGpjPuhNvQnhvKsxpmAatbSUXxlAfNZCJbDijoLfeT3T9u4yrBF5nGirKmqZCVZAsDJv6MWyAZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $input.first().json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        112
      ],
      "id": "ac5024d6-6054-4827-8bdf-2337833ff545",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        320
      ],
      "id": "02d1583e-c3c0-4de6-ac3c-efb82db3955d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e4519a19-20ca-490a-a2dd-4cddc5337962",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa21f063961a444bac67da5836ed03268c50574ea6214ede001ff4f72571cbd6"
  },
  "id": "ddQu1e0o89xbeMdh",
  "tags": []
}