Panda-Bot.json
{
  "name": "Panda-Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        352,
        496
      ],
      "id": "401da3ef-5628-4aef-a2f8-1dbfee1ef6f7",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        688
      ],
      "id": "00ead8e8-9c95-44dd-8e24-d94a5f1b8796",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RweDvWNM9lSd7I6Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        688
      ],
      "id": "46144507-4cef-48c3-94ef-dd85c31daa6c",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "panda-shop",
          "mode": "list",
          "cachedResultName": "panda-shop"
        },
        "options": {
          "pineconeNamespace": "chatbot"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        832
      ],
      "id": "759cb337-7b00-402a-ad67-11fa94f7df78",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "9zDHZr21SV7h6XO2",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        992
      ],
      "id": "70c2c729-3590-4961-b0a4-804a79161923",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "RweDvWNM9lSd7I6Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        496
      ],
      "id": "cf3306e7-6042-416d-93bb-2f64761d00d3",
      "name": "Webhook",
      "webhookId": "463a4d73-a05c-42b3-b2c5-c22e9d4001f1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        496
      ],
      "id": "1c31591b-8cd7-45ab-889c-78cf2f7cc525",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "25838c63-fc67-4026-aae8-8f445f85dcd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "342fa5d7596f64c259b630153486267144a79b3739e41d95e1ecd92fd68d37b0"
  },
  "id": "fN3iD8ExuQulT570",
  "tags": []
}